<p>
  <h2>
    <div class="pull-right">
      <%= form_for(Heart.new) do |f| %>
        <%= f.hidden_field :post_id, value: post.id %>
        <%= button_tag type: "submit", class: "btn btn-danger" do %>
          <i class="fa fa-heart" aria-hidden="true"></i>
        <% end %>
      <% end %>
    </div>
    <%= link_to post.title, post %>
  </h2>
</p>
<p>
  <% if post.kind == "image" %>
    <%= image_tag(post.content, class: "w-100") %>
  <% else %>
    <%= simple_format(post.content) %>
  <% end %>
</p>
<p class="text-muted">
  <small>Posted on <%= post.created_at.to_formatted_s(:long) %></small>
  <small class="pull-right"><%= pluralize(post.heart.count, "heart") %></small>
</p>
